<div class="cover2 hero3">
<h1>Equity investing made<br>simple for everyone</h1>
<br>
<%= link_to "START INVESTING" , join_path, class:'btn btn-success btn-lg' %>

</div>

<!--sub nav bar-->
<!--
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ">
   
      <ul class="nav navbar-nav">
        <li><a href="#">Getting Started <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Types of equity</a></li>
        <li><a href="#">Quality Deals</a></li>
        <li><a href="#">Investor Protection</a></li>
        <li><a href="#">Fees</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
  </div><!-- /.container-fluid
</nav>
-->
<!--getting started-->
<div class="container hero2">
    
    <h1>Getting started</h1>
    <p>It's never been easier to discover, nvest and share in the<br>success of businesses.</p>
    <div class="row">
      <div class="col-md-4 img">
        <%= image_tag("img1.png",  :alt => "Responsive image") %>  
        <h3>Discover businesses</h3>
        <p>It's simple for anyone to sign up.  Once your investor profile is complete you'll be able to access all campaigns, ask entrepreneurs questions, request further information and invest.</p>
      </div> 
      <div class="col-md-4">
       <%= image_tag("img2.png",  :alt => "Responsive image") %>  
        <h3>Start investing</h3>
        <p>To invest, choose the amount and securely pay for your investment by debit card or back transfer.  It's simple to create a diversified portfolio of investments to spread your exposure to risk.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("img3.png",  :alt => "Responsive image") %>  
        <h3>Start investing</h3>
        <p>To invest, choose the amount and securely pay for your investment by debit card or back transfer.  It's simple to create a diversified portfolio of investments to spread your exposure to risk.</p>
      </div>  

        <p>Learn more about <a href="#">becoming an investor ></a>
        
    </div><!--close row-->
</div><!--close container-->


    <!--Types of Equity-->
<div class="hero4">
<h1>Types of Equity</h1>
<p>Invest in the equity of ambitious, growth-focused businesses<br>and receive full voting shares with professional grade investor<br> protections.  There are 3 ways you can invest on PeerPoint:</p>

<div class="row">
    <div class="col-md-4">
        <%= image_tag("img4.png",  :alt => "Responsive image") %>
        <h3>Equity</h3>
        <p>The simplest and most common way to invest and become a shareholder in a business.</p>
    </div>
    <div class="col-md-4">
        <%= image_tag("img5.png",  :alt => "Responsive image") %>
        <h3>Funds</h3>
        <p>Diversify across multiple businesses with a single investment, and become a shareholder in each</p>
    </div>
    <div class="col-md-4">
        <%= image_tag("img6.png",  :alt => "Responsive image") %>
        <h3>Convertible</h3>
        <p>Invest in a business now and your investment will convert, at a discount to other investors, in the future.</p>
    </div>
</div><!--end row-->

        <p>Learn more about <a href="#">types of equity ></a></p>
</div>    
    
<!--Access to deals-->
<div class="hero2 howto">
    <h1>Access Quality Deals</h1>
    <p>We hold each pitch to a very high standard.  Our team<br> ensures that every statement you read is fair, clear, not<br> misleading and true, and we verify all factual claims.</p>

    <div class="imgbar">
    <img >
    </div>
    <div class="row">
<div class="col-md-3">
<h4>Pitch Submission</h4>
<p>Entrepreneur submits their PeerPoint campaign copy</p>
</div>

<div class="col-md-3">
<h4>Initial Screening</h4>
<p>Campaign is reviewed to ensure it is viable, appropriate and engaging</p>
</div>

<div class="col-md-3">
<h4>Detailed Verification</h4>
<p>Each statement is reviewed and initial due diligence is performed</p>
</div>

<div class="col-md-3">
<h4>Campaign Live</h4>
<p>Once a campaign meets our standards, it's approved and made available for investment</p>
</div>
</div><!--close row-->
</div><!--close hero2-->

<!--Got you covered-->
<div class="container hero2">
    
<h1>We've got you covered</h1>
<p>Investing in early-stage businesses involve risk, but our team<br>goes to great lengths to ensure that each investor gets the <br>best investor protections and can share in business success.</p>

<div class="row">
    <div class="col-md-4">
        <h3>Real investment</h3>
        <p>Anyone can invest as much as they like into businesses they choose in exchange for preferred shares</p>
    </div>

    <div class="col-md-4">
        <h3>Investor protection</h3>
        <p>Receive professional-grade protections through our unified nominee structure - so you can share in success.</p>
    </div>

    <div class="col-md-4">   
        <h3>Full Service</h3>
        <p>We're not just introducers.  Our team handles all documentation, admin and payment for both investors and businesses.</p>
    </div>
</div><!--close row-->

<div class="row">
    <div class="col-md-4">
        <h3>Simplified Administration</h3>
        <p>Share in each business' success - our nominee structure makes it simple for us to monitor and enforce your rights as an investor.</p>
    </div>
    
    <div class="col-md-4">
        <h3>Ongoing investor relations</h3>
        <p>Investors and businesses can easily keep-in-touch, online and off, through the investment lifecycle.</p>
    </div>
    
    <div class="col-md-4">
        <h3>Secure</h3>
        <p>We hold and transfer funds in secure, dedicated client money accounts</p>
    </div>
</div><!--close row-->
</div><!--close container-->

<!--Testimonial Box-->
    <div class="test1">
        <h3><span class="fa fa-commenting-o"></span>  CUSTOMER STORY</h3>
        <p>I like PeerPoint because it allows me to invest<br> in interesting businesses, in an efficient<br> manner, with no ongoing fees..</p>
        <p>Name, Investor from neighborhood</p>
    </div>

<!--Fees-->
<div class="hero2">
<h1>Straightforward Fee</h1>
<p>Fees should be fair and simple.  You'll only pay a single, straightforward<br>fee if - and only if- you receive profit from your investments.  That's it.</p>
<p class="subtext">We've aligned our success with yours.  We'll only charge you 5% of any profit you make from an investment.</p>


<div class="row">
<div class="col-md-3 col-md-offset-3"
<p>Only fee</p>
<p>5%</p>
<p>on any profit you make on your investments down the line</p>
</div>

<div class="col-md-3">
<img checkmark><li>Free to invest</li>
<img checkmark><li>No fees unless you make a profit</li>
<img checkmark><li>No administration or legal fees</li>
<img checkmark><li>No hidden costs or charges</li>
</div>
</div><!--close row-->
<p>Learn more about <a href="#">our fee ></a></p>

</div>
<!--Call to action-->
<div class="cta2">
	<p>Develop your portfolio of diverse, ambitious<br>businesses you believe in.</p>
	<%= link_to "START INVESTING" , invest_path, class:'btn btn-success btn-lg' %>

</div>

<!--disclaimer-->

<div class="container disclaimer">
    <p>Neither PeerPoint Capital nor any of its affiliates makes investment recommendations to you.  No communication from PeerPoint Capital, Inc. or any of its affiliates, through this website or any other medium, should be construed as a recommendation regarding as security.  Further, nothing on this website shall be considered an offer to sell, or solicition of an offer to buy, any security to any person in any jurisdication to whom or in which such offer, solicitation or sale is unlawful.  PeerPoint Capital, Inc and its affiliates do not provide legal, financial or tax advice of any kind to you.  If you have any questions with respect to legal, financial or tax matters relevant to your interactions with PeerPoint Capital, Inc or its affiliates, you should consult a professional adviser.</p>
    <p>Investing in early-stage businesses is extremely risky, and is not for everyone.  If you choose to invest in businesses displayed on peerpointcapital.com, you need to be aware and accept that (1) it is significantly more likely than not that you will lose some or all of the money you invest, (2) you will likely be unable to sell you investment, (3) even if the business is successful, you will be unlikely to receive any cash return on your investment for many years, (4) ordinary events in the life of the bsuiness can cause your percentage ownership in the business to decrease, and (5) if you choose to invest in early-stage businesses, you should do so only in the context of a broader investment strategy whereby the vast majority of your investable capital is placed in safer, more liquid assets.  For more information regarding the risks associated with early stage investments, please read our<a href="#"> Risk Warning.</a></p>
    <p>This page has been approved as a financial promotion of the PeerPoint platform by PeerPoint Capital, Inc, which is authorized and regulated by [regulatory agency].  It is not intended to be a promotion of any individual investment opportunity, and the summary information provided about investment opportunities in intended solely to demonstrate the types of investments available through PeerPoint.  Any investment decision should be made solely on the basis of the listing for that particular investment opportunity.  Full listings are available to authorized investors only.</p>
    
</div><!--end container-->
