<div class="cover2 hero3">
<h1>The smart way to<br>fund your business</h1>
<br>
    <%= link_to "START RAISING FUNDS" , raise_capital_path, class:'btn btn-primary btn-lg' %>
</div>

<!--sub nav bar-->
<!--
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ">
   
      <ul class="nav navbar-nav">
        <li><a href="#">Getting Started <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Types of equity</a></li>
        <li><a href="#">Quality Deals</a></li>
        <li><a href="#">Investor Protection</a></li>
        <li><a href="#">Fees</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
  </div><!-- /.container-fluid
</nav>
-->


<!--getting started-->
<div class="container hero2">
    <h1>Getting started</h1>
    <p>Efficiently raise money from thousands of investors who believe in your <br>business.  With our support, fundraising doesn't have to be painful.</p>
    <div class="row">
      <div class="col-md-4 img">
        <%= image_tag("img7.png",  :alt => "Responsive image") %>  
        <h3>Discover businesses</h3>
        <p>It's simple for anyone to sign up.  Once your investor profile is complete you'll be able to access all campaigns, ask entrepreneurs questions, request further information and invest.</p>
      </div> 
      <div class="col-md-4">
       <%= image_tag("img8.png",  :alt => "Responsive image") %>  
        <h3>Start investing</h3>
        <p>To invest, choose the amount and securely pay for your investment by debit card or back transfer.  It's simple to create a diversified portfolio of investments to spread your exposure to risk.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("img9.png",  :alt => "Responsive image") %>  
        <h3>Start investing</h3>
        <p>To invest, choose the amount and securely pay for your investment by debit card or back transfer.  It's simple to create a diversified portfolio of investments to spread your exposure to risk.</p>
      </div>  
 </div><!--close row-->
        <p class="btmcta">Learn more about <a href="#">becoming an investor ></a>
        
   
</div><!--close container-->

<!--Is Peerpoint right for you-->

<div class="hero2 pitch">
<h1>Is PeerPoint Right for you?</h1>
<p>Businesses across America - from idea-stage startups to <br>real estate projects, have raised funds through PeerPoint.  Our <br>flexible processes mean that any business can efficiently raise capital.</p>

<br><br><br>

<div class="row">
<div class="col-md-4">
<h3>Just getting started</h3>
<p>$10K-100,000</p>
</div>

<div class="col-md-4">
<h3>Building traction</h3>
<p>$100,000 - $500K</p>
</div>

<div class="col-md-4">
<h3>Accelerating growth</h3>
<p>$500K+</p>
</div>
</div>
</div>


<!--facts bar-->
<div class="stats2">
<div class="row">
    <div class="col-md-3">    
        <h5>stopwatch</h5>
        <h1>4</h1>
        <p>avg. weeks for a deal to fund</p>
    </div>

    <div class="col-md-3">
        <h5> group of people</h5>
        <h1>189</h1>
        <p>avg. number of investors per deal</p>
    </div>

    <div class="col-md-3">
        <h5>group of stars</h5>
        <h1>340+</h1>
        <p>successful deals to date</p>
    </div>

    <div class="col-md-3">
        <h5>stack of money</h5>
        <h1>$1,800</h1>
        <p>avg. investment amount</p>
    </div>
</div>
</div>

<!--Entrepreneur benefits-->
<div class="hero2">
    <h1>We've got you covered</h1>
    <p>When you raise investment capital, we do all of the heavy lifting and legal<br>paperwork so that you can get on with growing your business.</p>

<div class="row">
    <div class="col-md-4">
      
        <h3>Investor Outreach</h3>
        <p>Access the largest, most active investor base in America</p>
        <p>Efficiently raise investment from your friends, family, customers and your community</p>
        <p>Angels and VCs can easily co-invest alongside the crowd</p>
    </div>

    <div class="col-md-4">
        
        <h3>Services and support</h3>
        <p>No need to bring in (or pay for) additional legal services</p>
        <p>Free company incorporation and structuring services, if required</p>
        <p>Free tax filing and paperwork administration, if required</p>
    </div>

    <div class="col-md-4">
        
        <h3>Single point of contact</h3>
        <p>Dedicated account manager throughout the fundraising process</p>
        <p>Raise funds and engage with your investor community in one place</p>
        <p>We act as single legal shareholder on behalf of your new investors</p>
    </div>
</div>
</div>
<!--Testimonial Box-->

<div class="test2">
        <h4>CUSTOMER STORY</h4>
        <h4>Investing in local companies is fascinating, and thanks<br> to PeerPoint it's extremely simple to build a<br> diversified portfolio and back entrepreneurs <br>I believe in.</h4>
        <h5>Name, Investor from neighborhood</h5>
</div>

<!--Fees-->
<div class="hero2">
<h1>Straightforward Fee</h1>
<p>Only pay a single, straightforward fee if-and only if-your fundraising is<br>successful.  That's it. No hidden costs or charges.</p>
<p>Our standard fee is 7.5% on the total funds you raise, but you only pay 3.75%<br>on any new investors you bring to you campaign.</p>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <p>FROM</p>
        <p>3.75%</p>
        <p>of the funds you raise</p>
    </div>

<div class="col-md-3">
<ul>   
<li>No pitching fees</li>
<li>No membership fees</li>
<li>No admin fees</li>
<li>No payment processing fees</li>
</ul> 
</div>
</div>
</div>
<!--Call to action-->
<div class="cta3">
	<h3>Raise investment, engage with your community and <br>grow your business in a more efficient, enjoyable way.</h3>
	<br>
    <%= link_to "START RAISING FUNDS" , raise_capital_path, class:'btn btn-primary btn-lg' %>
</div>

<!--disclaimer-->

<div class="container disclaimer">
    <p>Neither PeerPoint Capital nor any of its affiliates makes investment recommendations to you.  No communication from PeerPoint Capital, Inc. or any of its affiliates, through this website or any other medium, should be construed as a recommendation regarding as security.  Further, nothing on this website shall be considered an offer to sell, or solicition of an offer to buy, any security to any person in any jurisdication to whom or in which such offer, solicitation or sale is unlawful.  PeerPoint Capital, Inc and its affiliates do not provide legal, financial or tax advice of any kind to you.  If you have any questions with respect to legal, financial or tax matters relevant to your interactions with PeerPoint Capital, Inc or its affiliates, you should consult a professional adviser.</p>
    <p>Investing in early-stage businesses is extremely risky, and is not for everyone.  If you choose to invest in businesses displayed on peerpointcapital.com, you need to be aware and accept that (1) it is significantly more likely than not that you will lose some or all of the money you invest, (2) you will likely be unable to sell you investment, (3) even if the business is successful, you will be unlikely to receive any cash return on your investment for many years, (4) ordinary events in the life of the bsuiness can cause your percentage ownership in the business to decrease, and (5) if you choose to invest in early-stage businesses, you should do so only in the context of a broader investment strategy whereby the vast majority of your investable capital is placed in safer, more liquid assets.  For more information regarding the risks associated with early stage investments, please read our<a href="#"> Risk Warning.</a></p>
    <p>This page has been approved as a financial promotion of the PeerPoint platform by PeerPoint Capital, Inc, which is authorized and regulated by [regulatory agency].  It is not intended to be a promotion of any individual investment opportunity, and the summary information provided about investment opportunities in intended solely to demonstrate the types of investments available through PeerPoint.  Any investment decision should be made solely on the basis of the listing for that particular investment opportunity.  Full listings are available to authorized investors only.</p>
    
</div><!--end container-->




